// Sass Variables
$dashboardGray: #151620;
$gray: #2B2D42;
$lightGray: #8D99AE;
$offWhite: #EDF2F4;
$lightRed: #EF233C;
$red: #D90429;
$black: #000;
$headerFont: 'Rubik', sans-serif;
$bodyFont: 'Lato', sans-serif;


.radioSection {
    color:$offWhite;
    padding: 3rem 2rem;
    box-sizing: border-box;
    overflow-y: scroll;
}

.radioSection h2 {
    padding: 1rem 0;
}

.radioSection::-webkit-scrollbar {
    width: 10px;
  }

/* Track */
.radioSection::-webkit-scrollbar-track {
background: $black; 
}

/* Handle */
.radioSection::-webkit-scrollbar-thumb {
background: $lightGray;
border-radius: 10px;
}

/* Handle on hover */
.radioSection::-webkit-scrollbar-thumb:hover {
background: #555;
}

.radioSection,
.radioFigure {
    box-sizing: border-box;
}

.radioFlexContainer {
    display: flex;
    flex-flow: wrap;
}