// Sass Variables
$dashboardGray: #151620;
$gray: #2B2D42;
$lightGray: #8D99AE;
$offWhite: #EDF2F4;
$lightRed: #EF233C;
$red: #D90429;
$black: #000;
$headerFont: 'Rubik', sans-serif;
$bodyFont: 'Lato', sans-serif;

.searchGrid {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    padding: .25rem 0;
    margin: 0;
    border-top: 1px solid $lightGray;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

.searchGrid:hover {
    color: $lightRed;
    transform: scale(1.02);
    background-color: $black;
}

.searchContent {
    width: 25%;
}
