@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Rubik:ital,wght@0,700;1,700&display=swap');

// Sass Variables
$gray: #2B2D42;
$lightGray: #8D99AE;
$offWhite: #EDF2F4;
$lightRed: #EF233C;
$red: #D90429;
$black: #000;
$headerFont: 'Rubik', sans-serif;
$bodyFont: 'Lato', sans-serif;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $bodyFont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFont;
  font-style: italic;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
