// Sass Variables
$gray: #2B2D42;
$lightGray: #8D99AE;
$offWhite: #EDF2F4;
$lightRed: #EF233C;
$red: #D90429;
$black: #000;
$headerFont: 'Rubik', sans-serif;
$bodyFont: 'Lato', sans-serif;

.title, .subTitle {
  margin: 0 auto;
}

.title {
  background-color: $red;
  font-size: 4rem;
  background-image: linear-gradient(
    -75deg,
    transparent 0,
    transparent 5%,
    rgba(255, 255, 255, 0.5) 5%,
    rgba(255, 255, 255, 0.75) 10%,
    transparent 10%,
    transparent 100%
  );

  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation-duration: 10s;
  animation-name: shine;
  animation-iteration-count: infinite;
}

@keyframes shine {
  20%, 100% {
    background-position: -120% 0;
  }
  0% {
    background-position: 0% 0;
  }
  100% {
    background-position: -120% 0;
  }
}

.subTitle {
  color: $offWhite;
  text-align: center;
}

.linkWrapper {
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  width: 200px;
  .link {
    background-color: $lightRed;
    font-family: $headerFont;
    display: block;
    padding: .5rem 1.5rem;
    border: 1px solid $offWhite;
    border-radius: 10px;
    color: $offWhite;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1rem;
    transition: .2s all ease-in-out;
  }
  .link:hover {
    background-color: $red;
  }
}

.signOutWrapper {
  padding-top: .5rem;
  text-align: center;
}

.signOut {
  text-decoration: underline;
  color: $offWhite;
  cursor: pointer;
  margin: 0 auto;
  transition: .2s all ease-in-out;
}

.signOut:hover {
  color: $lightRed;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}
