// Sass Variables
$dashboardGray: #151620;
$gray: #2B2D42;
$lightGray: #8D99AE;
$offWhite: #EDF2F4;
$lightRed: #EF233C;
$red: #D90429;
$black: #000;
$headerFont: 'Rubik', sans-serif;
$bodyFont: 'Lato', sans-serif;

.searchBarSection {
    width: 100%;
}

.searchBarInput {
    width: 325px;
    background-color: $black;
    color: $offWhite;
    border-radius: 1rem;
    padding: .25rem 1rem;
    position: relative;
}

.searchBarInput:focus {
    outline: none;
    border-radius: 1rem;
    
}

.searchBarButtonWrapper {
    position: relative;
    top: -43px;
    left: 238px;
    text-align: center;
    width: 200px;
    .searchBarButton {
      background-color: $lightRed;
      font-family: $headerFont;
      display: block;
      padding: .25rem 1rem;
      border: 1px solid $offWhite;
      border-radius: 30px;
      color: $offWhite;
      font-size: .78rem;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 1rem;
      cursor: pointer;
      outline: none;
      transition: .2s all ease-in-out;
    }
    .searchBarButton:hover {
      background-color: $red;
    }
  }

  .searchResultsFlex {
    display: flex;
    flex-direction: column;
  }
